.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.button {
  width: 30%;
}

.subtitles {
  font-size: 1.875rem;
  margin-bottom: 10%;
}

@media (max-width: 660px) {
  .buttonsWrapper {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .button {
    margin-top: 2.5rem;
  }
  .subtitles {
    margin: 0rem;
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 661px) and (max-width: 1350px) {
  .button {
    font-size: 1.5rem;
    padding: 1.625rem;
  }
  .subtitles {
    margin: 1.875rem;
    font-size: 2.75rem;
  }
  .buttonsWrapper {
    height: 40%;
    width: 90%;
  }
}

@media (max-width: 660px) {
  .button {
    width: 70%;
  }
}

@media (min-width: 661px) and (max-width: 1350px) {
  .button {
    width: 90%;
  }
}
