.input {
  height: 20.375rem;
  border-radius: 0.625rem;
  border: 1px solid #edcd5a;
  background-color: #2a6767;
  color: white;
  padding: 0.375rem;
  padding-left: 0.625rem;
  margin: 0.375rem;
  margin-top: 0.625rem;
}

.input::placeholder {
  color: white;
}

.input:focus {
  outline: none;
  color: white;
  background-color: #2a6767;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1.875rem #2a6767 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
