.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.playerWrapper {
  margin-bottom: 10%;
}

.link {
  font-size: 20px;
}

.subtitles {
  margin: 20px;
  font-size: 25px;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .score {
    margin-top: 100px;
  }

  .subtitles {
    margin-top: 30px;
  }
  .link {
    text-decoration: underline;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .link,
  .subtitles {
    font-size: 25px;
  }
  .link {
    text-decoration: underline;
  }
  .subtitles {
    margin-top: 30px;
  }
  .playerWrapper {
    margin-bottom: 30px;
  }
}
