.tableWrapper {
  display: flex;
  overflow: scroll;
  margin: 5%;
}

.table {
  border: 2px solid #edcd5a;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.th {
  height: 10%;
  padding: 0.625rem;
  vertical-align: middle;
}

.td {
  height: 5%;
  text-align: center;
  padding: 0.625rem;
  vertical-align: middle;
}

.subtitles {
  text-align: center;
  font-size: 1.625rem;
  margin-top: 5%;
}

.chartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rect {
  width: 100%;
}

@media (min-width: 601px) and (max-width: 900px) {
  .th,
  .td {
    font-size: 1.25rem;
  }
  .subtitles {
    font-size: 1.875rem;
    margin: 3.125rem;
  }
}
