.wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 2%;
  /* width: 100vw;  */
}

.contentWrapper {
  display: flex;
  align-items: center;
  /* justify-content: center;
  height: calc(100% - 125px);
  width: 100%; */
  flex-direction: column;
  margin-top: 5%;
}
@media (max-width: 600px) {
  .contentWrapper {
    /* height: 100%;
    width: 100%; */
    margin-top: 10%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
}
