.headerWriting {
  font-size: 3.125rem;
  margin: 1.875rem;
  color: white;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px dashed #edcd5a;
  background-color: #4daaaa;
  z-index: 100;
}

.userIcon {
  position: absolute;
  right: 0;
  margin-right: 2.875rem;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0;
  background-color: #2a6767;
  border: none;
  border-radius: 1rem;
  border: 1px solid #edcd5a;
}

.icon {
  color: white;
}

.userIcon:hover {
  opacity: 0.9;
  cursor: pointer;
}

.menuWrapper {
  background-color: #2a6767;
  border: 1px solid #edcd5a;
  border-radius: 0.625rem;
  padding: 0.625rem;
  width: 21.25rem;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 0.625rem;
  top: 5.625rem;
  z-index: 100;
}

.wrapper {
  width: 100vw;
  display: flex;
}

.menuElement {
  margin: 0.625rem;
  text-decoration: none;
  color: white;
}

.menuElement:hover {
  text-decoration: underline;
  cursor: pointer;
}

.emailElement {
  margin: 0.375rem;
  color: white;
}

.margin {
  margin-bottom: 1.25rem;
}

@media (max-width: 600px) {
  .userIcon {
    top: 11.625rem;
    margin-right: 0.5rem;
    width: 3.75rem;
    height: 3.75rem;
  }
  .menuWrapper {
    width: 21.875rem;
    height: 50%;
    right: 0.5rem;
    top: 11.875rem;
  }
  .menuElement {
    font-size: 1.625rem;
    margin-bottom: 1.25rem;
  }
  .emailElement {
    font-size: 1.25rem;
  }
  .margin {
    margin-bottom: 4.375rem;
  }
  .headerWriting {
    font-size: 2.875rem;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .headerWriting {
    font-size: 3.75rem;
  }
  .userIcon {
    width: 4.375rem;
    height: 4.375rem;
  }
  .menuWrapper {
    top: 6.875rem;
  }
  .menuElement {
    margin: 1rem;
    font-size: 1.25rem;
  }
}
