.button:hover {
  opacity: 0.9;
  transform: scale(0.95);
  cursor: pointer;
}

.button {
  background-color: #2a6767;
  border: none;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 1px solid #edcd5a;
  font-size: 20px;
  padding: 20px;
}
