.input {
  height: 25px;
  border-radius: 10px;
  border: 1px solid #edcd5a;
  background-color: #2a6767;
  color: white;
  padding: 5px;
  padding-left: 10px;
  margin: 5px;
  margin-top: 10px;
}

.input::placeholder {
  color: white;
}

.input:focus {
  outline: none;
  color: white;
  background-color: #2a6767;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2a6767 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
